{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Music Collection</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/tachyons.min.css' %}">
</head>
<body class="sans-serif pv3 ph2">
  <div class="mw9 center background">
    {% block content %}
    {% endblock %}
  </div>
</body>

<script>

  let favorite_albums = document.querySelectorAll(".favorite");
  for (let favorite of favorite_albums) {
      favorite.addEventListener("click", toggle);
      function toggle() {
          let pk = favorite.dataset.pk
          fetch(`http://127.0.0.1:8000/album/${pk}/toggle_favorite`)
              .then(response => response.json())
              .then(data => {
                  if (data.is_favorite) {
                      favorite.innerHTML = "&#x2665;"
                  } else {
                      favorite.innerHTML = "&#x2661;"
                  }
              });
      }
  }

</script>



</html>