{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center;"><u>My Albums</u></h1>
<h2 style="text-align:center;"">
    <a href=" {% url 'add_album' %}">Add an Album</a><br>
</h2>
{{ url }}

<div class="flex flex-wrap">
    {% for album in albums %}
    <div class="w-30 pa3 album_container">
        <img class = "album_art" src = "{{ album.album_art_url }}">
        <h2><a href="{% url 'album_detail' pk=album.pk %}">{{ album.title }}</a></h2>

        <div>
            <h3 class="title">{{ album.artist }}</h3>
        </div>
        {% if album.is_favorite %}
        <p class="favorite" data-pk={{album.pk}}>&#x2661;</p>
        {% else %}
        <p class="favorite" data-pk={{album.pk}}>&#x2665;</p>
        {% endif %}
        <div class="flex">
            <div class="pr2"><i class="icofont-location-pin"></i></div>
        </div>
        <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br>
        <a href="{% url 'delete_album' pk=album.pk %}">Delete Album</a><br>
    </div>
    {% endfor %}
</div>

<script>
    
    let favorite_albums = document.querySelectorAll(".favorite");
    for (let favorite of favorite_albums) {
        favorite.addEventListener("click", toggle);
        function toggle() {
            let pk = favorite.getAttribute("data-pk")
            fetch(`http://127.0.0.1:8000/album/${pk}/toggle_favorite`)
                .then(response => response.json())
                .then(data => {
                    if (data.is_favorite) {
                        favorite.innerHTML = "&#x2661;"
                    } else {
                        favorite.innerHTML = "&#x2665;"
                    }
                });
        }
    }

</script>
{% endblock %}