{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center;"><u>My Albums</u></h1>
<h2 style="text-align:center;"">
    <a href="{% url 'add_album' %}">Add an Album</a><br>
</h2>


<div class="flex flex-wrap">
  {% for album in albums %}
  <div class="w-33 pa3" style="border:2px solid;">
    <h2 class = "artist" style="color:blueviolet;"><a href="{% url 'album_detail' pk=album.pk %}">{{ album.artist }}</a></h2>

    <div class="flex">
        <div class="pr2"><i class="icofont-location-pin"></i></div>
    <h3>{{ album.title }}</h3>
    </div>

    <div class="flex">
        <div class="pr2"><i class="icofont-location-pin"></i></div>
    </div>
    <a href="{% url 'edit_album' pk=album.pk %}">Edit Album</a><br> 
    <a href="#">Delete Album</a><br> 
    </div>
    {% endfor %}
</div>
{% endblock %}
